<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %-5level %thread \(%logger{36}\) [%mdc{key-event-id:--}:%mdc{userNo:--}] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate.type" level="INFO"/>
  <logger name="org.hibernate.type.BasicTypeRegistry" level="WARN"/>
  <logger name="org.hibernate.SQL" level="INFO"/>

  <logger name="org.apache.activemq" level="ERROR"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.springframework.cache" level="INFO"/>

  <logger name="jdbc.audit" level="WARN" additivity="false"/>
  <logger name="jdbc.sqlonly" level="WARN" additivity="false"/>
  <logger name="jdbc.sqltiming" level="WARN" additivity="false"/>
  <logger name="jdbc.resultset" level="WARN" additivity="false"/>
  <logger name="jdbc.resultsettable" level="WARN" additivity="false"/>
  <logger name="jdbc.connection" level="WARN" additivity="false"/>
  <logger name="MySQL" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
